<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatX</title>
    <link rel="stylesheet" href="/templates/main.css">

</head>
<body>

<header>

    <a class="logo"><i class="logobar"></i>EatX</a>

    <div id="menu-bar" class="navigation"></div>

    <nav class="navbar">
        <a href="login.html">Sign In</a>
        <a href="#order">Order Now</a>
    </nav>

</header>

<section class="home" id="home">

    <div class="content">
        <h3>Najszybsza dostawa w Polsce!</h3>
        <a href="#" class="btn">Zamów teraz</a>
    </div>
    <div class="image">
        <img src="/images/home.png" alt="">
    </div>

</section>

<script src="/templates/script.js"></script>

</body>
</html>