<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatX</title>
    <link rel="stylesheet" href="/templates/main.css">

</head>
<body>

<header>

    <a class="logo"><i class="logobar"></i>EatX</a>

</header>
<section class="login" id="login">
<div class="content">
    <h3>Witamy</h3>
    <p>Zaloguj się przy pomocy adresu e-mail lub numeru telefonu</p>
    <form>
        <input type="text" name="" placeholder="@/Number">
         <br><br>
        <input type="password" name="" placeholder="Password">
        <br><br>
        <a href="#" class="btn">Zaloguj</a>
    </form>
    <br>
    <p>Jeśli nie posiadasz konta, <font color="#00008b"><a href="#">Zarejestruj się!</a></font></p>

</div>
</section>

<script src="/templates/script.js"></script>

</body>
</html>