<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EatX</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <script src="js/script.js"></script>

</head>
<body>

<header>

    <a class="logo"><i class="logobar"></i>EatX</a>

</header>
<section class="login" id="login">

<div class="content">
    <h3>Witamy</h3>
    <p>Zaloguj się przy pomocy adresu e-mail</p>
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}" class="alert alert-error">
            [[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
        </div>
        <div th:if="${param.Logout}" class="alert alert-error">
            You have been logged out.
        </div>
        <input type="text" name="email" class="form-control" placeholder="E-mail" required>
         <br><br>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <br><br>
        <button type="submit" class="btn">Zaloguj</button>
    </form>
    <br>
    <p>Jeśli nie posiadasz konta, <font color="#00008b"><a href="register">Zarejestruj się!</a></font></p>

</div>
</section>

</body>
</html>